.App {
  text-align: center;
  height: inherit;
}

#root {
  height: inherit;
}

.RightColumn {
  float: right;
  width: 50%;
}

.LeftColumn {
  float: left;
  width: 50%;
}

.formElements {

}

form {
  display: inline-block;
}

.buttonPos {
  margin-top: 270px;
}

.Pref-color {
  background-color: #1976d2;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #1976d2;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
